/* Import Tailwind's engine */
@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Define your global hex codes here */
@theme {
  /* Brand Colors */
  --color-primary: #0e639c;
  --color-primary-hover: #1177bb;
  
  /* Dark Mode Specific Hex Codes */
  --color-dark-bg: #1e1e1e;
  --color-dark-panel: #252526;
  --color-dark-border: #333333;
}

/* Ensure smooth fading when the OS switches between Light and Dark mode */
body {
  @apply transition-colors duration-300;
}